<ion-view view-title="Users">
    <ion-content>
        <div class="row responsive-md responsive-lg">
            <div class="col col-50 col-offset-25 error-inner-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Check your Internet connection</div>
                    <div class="panel-body">
                        <center>
                            <h4 class="text-center"> Turn on data or Wi-Fi in Settings </h4>
                            <button class="button button-positive" ng-click="settings();">
                                Settings
                            </button>
                            <button class="button button-positive" ng-click="exit();">
                                Exit
                            </button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>