<ion-view view-title="Users">
    <ion-content>
        <div class="row responsive-md responsive-lg">
            <div class="col col-50 col-offset-25 error-inner-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Check your Internet connection</div>
                    <div class="panel-body">
                        <center>
                            <h4 class="text-center"> Turn on data or Wi-Fi in Settings </h4>
                            <button class="button button-positive" ng-click="settings();">
                                Settings
                            </button>
                            <button class="button button-positive" ng-click="exit();">
                                Exit
                            </button>
                        </center>
                    </div>
                </div>
                <!-- <h4 class="text-center"> Check your Internet connection </h4>
                <center>
                    <button class="button button-positive" ng-click="settings();">
                    Settings
                    </button>
                    <button class="button button-positive" ng-click="exit();">
                        Exit
                    </button>
                </center> -->
            </div>
        </div>
    </ion-content>
</ion-view>


<!-- <ion-view id="login" hide-nav-bar="true">
    <ion-content padding="true" scroll="false">
        <form>
            <div class="row responsive-md responsive-lg">
                <div class="col col-50 col-offset-25 login-inner-wrapper">

                     <div class="header padding text-center">
                        <img src="img/logo.png" alt="Your logo here" />
                    </div> 

<div class="list">
    <label class="item item-input">
                            <input type="text" placeholder="Username" ng-model="data.username">
                        </label>
    <label class="item item-input">
                            <input type="password" placeholder="Password" ng-model="data.password">
                        </label>
</div>

<button class="button button-block button-positive" ng-click="login()">
                        Log In
                    </button>
<toaster-container></toaster-container>
</div>
</div>
</form>
</ion-content>
</ion-view> -->